:root {
  --cy-color-primary: #466eff;

  --cy-border-color: #ececec;

  --cy-transition-duration: 0.3s;

  --cy-gray-1: rgb(249, 249, 250);

  --cy-bg-1: #fff;

  --sidebar-width: 248px;

  --collapse-sidebar-width: 54px;

  --mobile-sidebar-width: 0px;
}
